body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center; /* Center all content */
    background: url('../color/bg.jpg') repeat
}

header h1 {
    margin: 0;
    padding: 20px 0;
    background-color: #ffffdf; /* Header background color */
}

.mainPage {
    text-align: center;
}

.mainPage a{
    color: black; /* 設置文字顏色為黑色 */
    text-decoration: none; /* 移除下劃線 */
}
.intro {
    text-align: center;
}
/* Reset list styles */

.navbar {
    display: flex;
    flex-direction: column; /* Stack blocks vertically */
    align-items: center; /* Center blocks horizontally */
}

.nav-block {
    background-color: #fffbbf; /* Block background color */
    margin: 10px 0; /* Add space between blocks */
    padding: 20px;
    width: 80%; /* Adjust width as needed */
    text-decoration: none; /* Remove link underlines */
    color: black; /* Text color for blocks */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: add shadow for depth */
    transition: background-color 0.3s; /* Smooth background color transition */
}

.nav-block:hover {
    background-color: #f3f3f3; /* Color change on hover */
}

@media screen and (max-width: 600px) {
    .nav-block {
        width: 90%; /* Blocks take more width on smaller screens */
    }
}
